<section class="contentWrapper">
    <div class="about-intro-text">
        <p>Jestem Webdeveloperem. Zajmuję się programowaniem stron internetowych oraz Newsletterów.</p>
        <p>Koduję w językach używanych na potrzeby tworzenia stron WWW, czyli: HTML, CSS, JavaScript (jQuery), PHP.</p>
    </div>
    <div class="about-intro-img">
        <img class="grayscale" src="images/at-work.jpg" alt="Ja w pracy" title="Ja w pracy" wclassth="350" height="196" />
        <div class="vline-left"></div>
        <div class="hline-left"></div>
        <div class="vline-right"></div>
        <div class="hline-right"></div>
    </div>       
</section>
<!--	<ul class="list-unstyled">
		<li class="book" ng-repeat="book in kart"
			style="background: white url('imgs/{{book.imgUrl}}') no-repeat">
			<div class="book-details clearfix">
				<h3>{{book.name}}</h3>
				<p>{{book.price | currency:'Rs.'}}</p>
				<ul class="list-unstyled list-inline">
					<li>Rating: {{book.rating}}</li>
					<li>Binding: {{book.binding | uppercase}}</li>
					<li>Publisher: {{book.publisher}}</li>
					<li>Released: {{book.releaseDate}}</li>
				</ul>
				<p>{{book.details}}</p>
				<button class="btn btn-info pull-right" ng-click="buy(book)">Buy</button>
			</div>
		</li>
	</ul>-->