<article class="contentWrapper">
	<div class="about-intro-text"></div>
	<div class="aboutSkills">
		<h5 class="aboutSkills__headerCoding"></h5>
		<div class="aboutSkills__coding">
			<div>HTML (<span>95%</span>)</div>
			<div>CSS3 (<span>93%</span>)</div>
			<div>JavaScript/ES6 (<span>70%</span>)</div>
			<div>Java (<span>60%</span>)</div>
			<div>PHP (<span>55%</span>)</div>
		</div>
		<h5 class="aboutSkills__headerFrameworks"></h5>
		<div class="aboutSkills__frameworks">
			<div>jQuery (<span>91%</span>)</div>
			<div>Angular (<span>48%</span>)</div>
			<div>React-native (<span>35%</span>)</div>
		</div>
		<h5 class="aboutSkills__headerTechnologies"></h5>
		<div class="aboutSkills__technologies">
			<div>MySQL (<span>74%</span>)</div>
			<div>RWD (<span>71%</span>)</div>
			<div>Sass (<span>62%</span>)</div>			
			<div>GIT (<span>60%</span>)</div>
			<div>GitHub (<span>50%</span>)</div>
			<div>JSON (<span>48%</span>)</div>
			<div>Firebase (<span>45%</span>)</div>
			<div>Webpack (<span>43%</span>)</div>
			<div>Node.js (<span>36%</span>)</div>
		</div>
		<h5 class="aboutSkills__headerCMS"></h5>
		<div class="aboutSkills__CMS">
			<div>Wordpress (<span>76%</span>)</div>
			<div>Joomla (<span>68%</span>)</div>
			<div>PrestaShop (<span>41%</span>)</div>
		</div>
		<h5 class="aboutSkills__headerSoftware"></h5>
		<div class="aboutSkills__Software">
			<div>Windows (<span>91%</span>)</div>
			<div>Koala (<span>90%</span>)</div>
			<div>Chrome Developer Tools (<span>89%</span>)</div>
			<div>Clementine:) (<span>87%</span>)</div>
			<div>Visual Studio Code (<span>86%</span>)</div>
			<div>NetBeans (<span>86%</span>)</div>
			<div>Photoshop (<span>73%</span>)</div>
			<div>VirtualBox (<span>70%</span>)</div>
			<div>Eclipse (<span>66%</span>)</div>
			<div>Linux (<span>62%</span>)</div>
		</div>
	</div>
</article>
	
<!--	<ul class="list-unstyled">
		<li class="book" ng-repeat="book in kart"
			style="background: white url('imgs/{{book.imgUrl}}') no-repeat">
			<div class="book-details clearfix">
				<h3>{{book.name}}</h3>
				<p>{{book.price | currency:'Rs.'}}</p>
				<ul class="list-unstyled list-inline">
					<li>Rating: {{book.rating}}</li>
					<li>Binding: {{book.binding | uppercase}}</li>
					<li>Publisher: {{book.publisher}}</li>
					<li>Released: {{book.releaseDate}}</li>
				</ul>
				<p>{{book.details}}</p>
				<button class="btn btn-info pull-right" ng-click="buy(book)">Buy</button>
			</div>
		</li>
	</ul>-->