<article class="contentWrapper">
	<div class="about-intro-text"></div>
	<div class="aboutSkills">
		<h5 class="aboutSkills__headerCoding"></h5>
		<div class="aboutSkills__coding">
			<div style="border-width: 3px 0 3px 80%;">HTML</div>
			<div>CSS3</div>
			<div>JavaScript (ES6)</div>
			<div>Java</div>
			<div>PHP</div>
		</div>
		<h5 class="aboutSkills__headerFrameworks"></h5>
		<div class="aboutSkills__frameworks">
			<div>jQuery</div>
			<div>Angular</div>
			<div>React-native</div>
		</div>
		<h5 class="aboutSkills__headerTechnologies"></h5>
		<div class="aboutSkills__technologies">
			<div>MySQL</div>
			<div>RWD</div>
			<div>Sass</div>			
			<div>GIT</div>
			<div>GitHub</div>
			<div>JSON</div>
			<div>Firebase</div>
			<div>Webpack</div>
			<div>Node.js</div>
		</div>
		<h5 class="aboutSkills__headerCMS"></h5>
		<div class="aboutSkills__CMS">
			<div>Wordpress</div>
			<div>Joomla</div>
			<div>PrestaShop</div>
		</div>
		<h5 class="aboutSkills__headerSoftware"></h5>
		<div class="aboutSkills__Software">
			<div>Windows</div>
			<div>Koala</div>
			<div>Linux</div>
			<div>Visual Studio Code</div>
			<div>NetBeans</div>
			<div>Photoshop</div>
			<div>VirtualBox</div>
			<div>Eclipse</div>
			<div>Clementine:)</div>
			<div>Chrome Developer Tools</div>
		</div>
	</div>
</article>
	
<!--	<ul class="list-unstyled">
		<li class="book" ng-repeat="book in kart"
			style="background: white url('imgs/{{book.imgUrl}}') no-repeat">
			<div class="book-details clearfix">
				<h3>{{book.name}}</h3>
				<p>{{book.price | currency:'Rs.'}}</p>
				<ul class="list-unstyled list-inline">
					<li>Rating: {{book.rating}}</li>
					<li>Binding: {{book.binding | uppercase}}</li>
					<li>Publisher: {{book.publisher}}</li>
					<li>Released: {{book.releaseDate}}</li>
				</ul>
				<p>{{book.details}}</p>
				<button class="btn btn-info pull-right" ng-click="buy(book)">Buy</button>
			</div>
		</li>
	</ul>-->