<div class="contentWrapper">
    <div class="contentWrapper__contactWrapper">
        <div class="contentWrapper__contactWrapper__contactDetails"></div>
        <form action="php/mail.php">
            <div class="row">
                <input class="contentWrapper__contactWrapper__your_name" type="text" tabindex="1" />
                <label></label>                
            </div>
            <div class="row">
                <input class="contentWrapper__contactWrapper__email" type="email" tabindex="2" />
                <label></label>                
            </div>
            <div class="row">
                <input class="contentWrapper__contactWrapper__subject" type="text" tabindex="3" />
                <label></label>                
            </div>
            <div class="row">
                <textarea class="contentWrapper__contactWrapper__message" rows="7" cols="15" tabindex="4"></textarea>
                <label></label>                
            </div>
            <a class="contentWrapper__contactWrapper__submitButton" tabindex="5"></a>
        </form>
    </div>
</div>