// { Functions and variables
  
// body font size
$base-font-size: 1em;
$browser-context: 16;
// active link color
$active-link-color: #990000;
// border input color
$border-input: #dfdfe4;
// border input active color
$border-input-active: #a0a0a0;
// function to convert px to em
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

// Breakpoints
$small-phone: '(min-width: 22.5em)'; // 360px
$tablet-portrait: '(min-width: 48em)'; // 768px
$tablet-landscape: '(min-width: 59.438em)'; // 951px
$large-desktop: '(min-width: 64em)'; // 1024px
$display-fullhd: '(min-width: 120em)'; // 1920px
$display-wqhd: '(min-width: 160em)'; // 2560px
$display-4k: '(min-width: 237.5em)'; // 3800px
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';

// Media queries
@mixin respond-to($media) {
  @media only screen and #{$media} {
    @content;
  }
}

// } Functions and variables

// } Loading
// { Content
.content {
  position: relative;
  width: 95%;
  min-height: 100%;
  margin: 0 auto;
  display: none;
  @include respond-to($large-desktop) {
    width: 90%;
  }
}

// { Logo
.header {
  position: relative;
  left: 0px;
  text-align: left;
  height: 8em;
  z-index: 999;
  &__logo {
    margin: rem(10) 0 0 rem(20);
    float: left;
  }
  &__link {
    color: #000000;
    text-decoration: none;
    &:hover {
      color: #000000;
    }
    &:hover &--distinction {
      color: $active-link-color;
    }
  }
  &__top-vline {
    position: absolute;
    width: 0.063rem;
    height: 11.5em;
    background: #000000;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, #000000), to(#ffffff));
    background: linear-gradient(to bottom, #000000 75%, #ffffff 100%);
    @include respond-to($tablet-portrait) {
      height: 25em;
    }
  }
  &__top-hline1 {
    position: absolute;
    bottom: 0;
    left: -5.55%;
    width: 18em;
    min-width: 300px;
    height: 0.063rem;
    background: #000000;
    background: -webkit-gradient(linear, left top, right top, color-stop(55%, #000), to(#fff));
    background: linear-gradient(to right, #000 55%, #fff 100%);
    @include respond-to($large-desktop) {
      width: 20em;
    }
  }
}

// } Logo

// { Menu
.menu {
  position: absolute;
  right: 0;
  margin-top: 0.3em;
  font-size: em(22);
  text-align: left;
  z-index: 999;
  &__icon {
    position: relative;
    float: right;
    top: -5.9em;
    cursor: pointer;
    z-index: 9999;
    &--bar1,
    &--bar2,
    &--bar3 {
      width: 2.188rem;
      height: 0.313rem;
      background-color: black;
      margin: rem(6) 0;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    /* Rotate first bar */
    &--change &--bar1 {
      -webkit-transform: rotate(-45deg) translate(-0.563rem, 0.375rem);
      transform: rotate(-45deg) translate(-0.563rem, 0.375rem);
    }
    /* Fade out the second bar */
    &--change &--bar2 {
      opacity: 0;
    }
    /* Rotate last bar */
    &--change &--bar3 {
      -webkit-transform: rotate(45deg) translate(-0.5rem, -0.5rem);
      transform: rotate(45deg) translate(-0.5rem, -0.5rem);
    }
    @include respond-to($tablet-portrait) {
      display: none;
    }
  }
  &__items {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    padding: 0.5em;
    text-align: center;
    background: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.85) 80%,rgba(255,255,255,0) 100%);
    @include respond-to($small-phone) {
      position: absolute;
      text-align: left;
      top: -5.7em;
      right: 4px;
      width: auto;
      padding: 0;
    }
    @include respond-to($tablet-portrait) {
      position: relative;
      text-align: left;
      left: 0;
      top: 0;
      display: block !important;
      background: transparent;
      padding: 0;
    }
  }
  &__item {
    position: relative;
    margin-bottom: 0.5em;
  }
  &__item--link {
    text-decoration: none;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    color: #1b1b1b;
    &:hover {
      color: $active-link-color !important;
    }
  }
  &__top-hline2 {
    position: absolute;
    display: none;
    bottom: 0;
    left: -5.55vw;
    width: 13em;
    min-width: 250px;
    height: 0.063rem;
    background: #000000;
    background: -webkit-gradient(linear, left top, right top, color-stop(55%, #000000), to(#ffffff));
    background: linear-gradient(to right, #000000 55%, #ffffff 100%);
    @include respond-to($tablet-portrait) {
      display: block;
    }
  }
  &__left-line {
    position: absolute;
    display: block;
    top: -0.5em;
    left: -0.4em;
    width: 0.063rem;
    height: 7.2em;
    background: #000000;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, #000000), to(#ffffff));
    background: linear-gradient(to bottom, #000000 75%, #ffffff 100%);
    @include respond-to($tablet-portrait) {
      display: none;
    }
  }
  @include respond-to($tablet-portrait) {
    float: left;
    left: 0;
    width: 15%;
    margin-top: 0;
    padding: em(32) 0 em(32) rem(20);
  }
}

// } Menu
// { Main tag
.main {
  position: relative;
  left: 0;
  width: 100%;
  padding-bottom: 80px;
  margin-top: 5%;
  @include respond-to($tablet-portrait) {
    margin-top: 1%;
  }
}

.ng-leave {
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  opacity: 1
}

.ng-leave-active {
  opacity: 0
}

.ng-enter {
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  opacity: 0
}

.ng-enter-active {
  opacity: 1
}

.content-wrapper {
  position: relative;
  left: 0;
  width: 96%;
  height: 100%;
  padding: 0 2%;
  @include respond-to($tablet-portrait) {
    left: 15em;
    width: calc(96% - 15em);
  }
}

// { Main page
.content-wrapper__mainText {
  margin: 0 auto;
  padding: 0 3% rem(80) 3%;
  text-align: left;
  font-size: em(28);
  line-height: 1.2;
  max-width: 15em;
  p {
    display: none;
  }
  @include respond-to($tablet-landscape) {
    margin-left: 18.5%;
    padding: 0;
  }
}

// } Main page
// { About page
.about-intro,
.about-skills {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding-bottom: rem(40);
  @include respond-to($large-desktop) {
    width: 42%;
  }
  @include respond-to($tablet-portrait) {
    width: 48%;
  }
}

.about-intro {
  font-size: em(20.4);
  text-align: left;
  margin-right: 1%;
  &__text {
    margin-bottom: rem(40);
  }
  p {
    text-indent: em($browser-context);
    line-height: 1.2;
  }
  @include respond-to($large-desktop) {
    font-size: em(22);
  }
}

.about-skills {
  margin-left: 1%;
  &__bars {
    margin-bottom: em(40);
  }
  &__percent {
    display: inline;
    visibility: hidden;
    font-size: 0.05em !important;
  }
  &__bars div {
    margin: em(10) 0;
    padding: em(7);
    font-size: em(15.3);
    text-align: right;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(90%, #d6d7db), to(#ffffff));
    background: linear-gradient(to right, #ffffff 0%, #d6d7db 90%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
    -webkit-transition: 1s linear all;
    transition: 1s linear all;
    width: 0%;
    height: 1em;
    color: transparent;
    @include respond-to($tablet-portrait) {
      font-size: em(13.6);
    }
    @include respond-to($large-desktop) {
      font-size: em(15.3);
    }
  }
}

.about-intro__site-text,
.about-intro__certificates-text {
  ul {
    margin: rem(20);
    list-style: circle;
    font-size: em(15.3);
    line-height: 1.2;
    padding-bottom: rem(20);
  }
  li {
    margin: rem(15) rem(10);
  }
}

// } About page
// { Portfolio page
.portfolio {
  padding-bottom: rem(40);
}

.portfolio-item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  height: auto;
  padding: rem(20);
  text-align: left;
  margin: rem(20) auto rem(60) auto;
  opacity: 0;
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
  &__img {
    display: inline-block;
    width: 100%;
    margin-right: 0;
    border: solid 1px;
    @include respond-to($large-desktop) {
      margin-right: 2%;
      width: 48%;
    }
  }
  &__wrapper {
    vertical-align: top;
    width: 100%;
    margin-left: 0;
    display: inline-block;
    @include respond-to($large-desktop) {
      margin-left: 2%;
      width: 47%;
    }
  }
  &__header {
    font-size: em(20.4);
    margin: rem(15) 0 rem(10) 0;
    font-weight: 500;
    @include respond-to($large-desktop) {
      margin-bottom: rem(10);
    }
  }
  &__url {
    display: block;
    margin: rem(10) 0;
  }
  &__description {
    text-indent: em($browser-context);
    margin: rem(10) 0;
    font-size: em(18.7);
    line-height: 1.1;
  }
  &__hline-left {
    position: absolute;
    top: 0;
    left: -30px;
    float: left;
    width: 200px;
    height: 0.063rem;
    background: #ffffff;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(10%, #0e0e0e), to(#ffffff));
    background: linear-gradient(to right, #ffffff 0%, #0e0e0e 10%, #ffffff 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 */
  }
  &__vline-left {
    position: absolute;
    top: -25px;
    left: 0px;
    float: left;
    width: 0.063rem;
    height: 200px;
    background: #ffffff;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(10%, #0e0e0e), to(#ffffff));
    background: linear-gradient(to bottom, #ffffff 0%, #0e0e0e 10%, #ffffff 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
  }
  &__hline-right {
    position: absolute;
    bottom: 0;
    right: -30px;
    float: right;
    width: 200px;
    height: 0.063rem;
    background: #ffffff;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(90%, #0e0e0e), to(#ffffff));
    background: linear-gradient(to right, #ffffff 0%, #0e0e0e 90%, #ffffff 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 */
  }
  &__vline-right {
    position: absolute;
    bottom: -25px;
    right: 0px;
    float: right;
    width: 0.063rem;
    height: 200px;
    background: #ffffff;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(90%, #0e0e0e), to(#ffffff));
    background: linear-gradient(to bottom, #ffffff 0%, #0e0e0e 90%, #ffffff 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
  }
}

// { Portfolio page
// { Contact page
.contact {
  position: relative;
  width: 100%;
  height: 100%;
  &__details,
  .form {
    position: relative;
    display: inline-block;
    width: 95%;
    vertical-align: top;
    font-size: em(28);
    line-height: 1.25;
    padding-bottom: em(40);
    @include respond-to($tablet-portrait) {
      width: 44%;
      margin-right: 3%;
    }
  }
  .form {
    font-size: em($browser-context);
    line-height: 1;
    padding-bottom: em(80);
    @include respond-to($tablet-portrait) {
      margin-right: 0;
      margin-left: 3%;
    }
    &__row {
      margin-top: em(10);
      position: relative;
      min-height: 80px;
      text-align: left;
    }
    & input, textarea {
      font-family: 'Jura', sans-serif;
      color: #1b1b1b;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid $border-input;
      border-radius: 0;
      outline: none;
      height: 2.5em;
      width: 100%;
      font-size: em(16);
      margin-bottom: em(20);
      padding: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      text-indent: 15px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      &:focus {
        border-bottom: 2px solid $border-input-active;
      }
      &:focus+label {
        color: $border-input-active;
      }
    }
    textarea {
      height: 9.375em;
      margin: em(20) 0;
      border: 2px solid $border-input;
      padding: em(15);
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      overflow: auto;
      text-indent: 0;
      &:focus {
        border: 2px solid $border-input-active;
      }
    }
    label {
      position: absolute;
      left: 0;
      top: -1em;
      font-size: em(19);
      text-indent: 15px;
      color: #595959;
      span {
        font-size: em(12);
      }
    }
    &__submit {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      overflow: hidden;
      width: em(150);
      height: em(40);
      line-height: 2.45;
      border: 2px solid $border-input;
      font-weight: 600;
      cursor: pointer;
      outline: none;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: .6s;
              transition-duration: .6s;
      -webkit-transition-timing-function: ease;
              transition-timing-function: ease;
      &:after {
        background: #ACACAC;
        content: "";
        height: rem(155);
        left: rem(-75);
        opacity: .2;
        position: absolute;
        top: rem(-50);
        -webkit-transform: rotate(35deg);
                transform: rotate(35deg);
        -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: rem(50);
        z-index: 99;
      }
    }
    &__submit:hover,
    &__submit:focus {
      border: 2px solid $border-input-active;
      &:after {
        left: 120%;
        -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }
}

.grecaptcha-badge {
  bottom: 5px !important;
}

// } Contact page
// } Main tag
.scrollup {
  position: fixed;
  text-align: right;
  bottom: 1.1em;
  left: 0;
  width: 100%;
  display: none;
  &__link {
    padding-right: 1.5em;
  }
}

// { Footer
.footer {
  position: absolute;
  bottom: 0;
  margin-top: em(-80);
  width: 100%;
  height: em(80);
  text-align: left;
  display: table;
}

.footer img {
  width: em(25);
  height: em(25);
}

.footer a {
  width: em(25);
  height: em(25);
  margin: 0 em(5);
  display: inline-block;
}

.footer__icons {
  padding-left: rem(20);
  display: table-cell;
  vertical-align: middle;
}

.footer__languages {
  float: right;
  padding: em(26) em(20);
}

.footer__hline {
  position: absolute;
  top: 0px;
  left: -5.55%;
  width: 27%;
  min-width: 260px;
  height: 0.063rem;
  background: #000000;
  background: -webkit-gradient(linear, left top, right top, color-stop(80%, #000000), to(#ffffff));
  background: linear-gradient(to right, #000000 80%, #ffffff 100%);
}

.footer__vline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0.063rem;
  height: rem(266);
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(55%, #000000), to(#000000));
  background: linear-gradient(to bottom, #ffffff 0%, #000000 55%, #000000 100%);
}

.footer__hline-right {
  position: absolute;
  top: 0px;
  right: -2.692%;
  width: 15%;
  min-width: 100px;
  height: 0.063rem;
  background: #000000;
  background: -webkit-gradient(linear, right top, left top, color-stop(80%, #000000), to(#ffffff));
  background: linear-gradient(to left, #000000 80%, #ffffff 100%);
  @include respond-to($large-desktop) {
    right: -5.55%;
  }
}

.footer__vline-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 0.063rem;
  height: rem(200);
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(55%, #000000), to(#000000));
  background: linear-gradient(to bottom, #ffffff 0%, #000000 55%, #000000 100%);
}

// } Footer
// { Cookie info
  .cookie-info {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: .3em;
    background-color: rgba(243, 234, 243, 0.7);
    animation: slideUp 2.2s ease-out;
    &__button {
      display: inline-block;
      min-width: 4em;
      background: #c7c7c7;
      border-radius: .3em;
      margin: 0.3em;
      padding: 0.45em 0.6em;
      transition: all 0.3s;
     }
     & :hover {
      background: #d6d6d6;
     }
  }

  @keyframes slideUp {
    from {bottom: -5em;} 
    to {bottom: 0;} 
  }
// } Cookie info
// } Content

/* Buzz hover effect */

@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

footer img:hover,
.footer__icons a:hover,
.footer__languages a:hover {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}