DirectoryIndex index.html
ErrorDocument 404 /error404.html
ErrorDocument 403 http://mysliwiec.pro/
IndexIgnore *
Options -Indexes
Options +FollowSymlinks
RewriteEngine on
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]