<article class="content-wrapper">
	<div class="about-intro">
		<div class="about-intro__text"></div>
		<div class="about-intro__site">
			<h4 class="about-intro__site-header"></h4>
			<div class="about-intro__site-text"></div>
			<h4 class="about-intro__certificates-header"></h4>
			<div class="about-intro__certificates-text"></div>
		</div>
	</div>
	<div class="about-skills">
		<h5 class="about-skills__header-coding"></h5>
		<div class="about-skills__bars">
			<div>HTML (<span>95%</span>)</div>
			<div>CSS3 (<span>93%</span>)</div>
			<div>JavaScript/ES6 (<span>75%</span>)</div>
			<div>Java SE (<span>60%</span>)</div>
			<div>PHP (<span>55%</span>)</div>
		</div>
		<h5 class="about-skills__header-frameworks"></h5>
		<div class="about-skills__bars">
			<div>jQuery (<span>91%</span>)</div>
			<div>Angular (<span>48%</span>)</div>
			<div>React-native (<span>35%</span>)</div>
			<div>MooTools (<span>33%</span>)</div>			
		</div>
		<h5 class="about-skills__header-technologies"></h5>
		<div class="about-skills__bars">
			<div>RWD (<span>79%</span>)</div>
			<div>MySQL (<span>74%</span>)</div>
			<div>Sass (<span>72%</span>)</div>			
			<div>BEM (<span>70%</span>)</div>
			<div>GIT (<span>69%</span>)</div>
			<div>Webpack (<span>59%</span>)</div>
			<div>GitHub (<span>58%</span>)</div>
			<div>JSON (<span>49%</span>)</div>
			<div>Firebase (<span>45%</span>)</div>
			<div>Node.js (<span>32%</span>)</div>
		</div>
		<h5 class="about-skills__header-cms"></h5>
		<div class="about-skills__bars">
			<div>Wordpress (<span>76%</span>)</div>
			<div>Joomla (<span>68%</span>)</div>
			<div>PrestaShop (<span>41%</span>)</div>
		</div>
		<h5 class="about-skills__header-software"></h5>
		<div class="about-skills__bars">
			<div>Windows (<span>91%</span>)</div>
			<div>Koala (<span>90%</span>)</div>
			<div>Chrome Developer Tools (<span>89%</span>)</div>
			<div>Clementine:) (<span>87%</span>)</div>
			<div>Visual Studio Code (<span>86%</span>)</div>
			<div>NetBeans (<span>86%</span>)</div>
			<div>Photoshop (<span>77%</span>)</div>
			<div>VirtualBox (<span>70%</span>)</div>
			<div>Eclipse (<span>66%</span>)</div>
			<div>Linux (<span>62%</span>)</div>
		</div>
	</div>
</article>