<div class="content-wrapper">
    <div class="contact">
        <div class="contact__details"></div>
        <form class="form" action="php/mail.php">
            <div class="form__row">
                <input class="form__name" type="text" tabindex="1">
                <label></label>                
            </div>
            <div class="form__row">
                <input class="form__email" type="email" tabindex="2">
                <label></label>                
            </div>
            <div class="form__row">
                <input class="form__subject" type="text" tabindex="3">
                <label></label>                
            </div>
            <div class="form__row">
                <textarea class="form__message" rows="7" cols="15" tabindex="4"></textarea>
                <label></label>                
            </div>
            <a class="g-recaptcha form__submit" data-sitekey="6Lf6qDAUAAAAADvexiP5Y5O9VgAv-xxWpNTxz9K6" data-callback="sendData" data-size="invisible" tabindex="5"></a>
        </form>
    </div>
</div>